<div class="slider">
  <h2 class="slider__title">{{ sliderTitle }}</h2>
  <div class="slider__items">
    <div class="arrow--left">
      <i class="icon-arrow-left"></i>
    </div>
    <div *ngFor="let item of items"
         class="item">
      <div class="item__image">

        <img src="assets/images/default-movie-poster.png"
             alt="{{ item.title }}"
             class="image">


      </div>
      <div class="item__content">
        <h2 class="title">{{ item.title }}</h2>
      </div>
    </div>
    <div class="arrow--right">
      <i class="icon-arrow-right"></i>
    </div>
  </div>
