/* You can add global styles to this file, and also import other style files */
@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: variables.$primary-font;
  font-weight: variables.$medium;
  // height: 100%;
  // width: 100%;
}
